/* HeaderComponent.css */
.bgheader {
    background-color: violet;
    padding: 20px;
    text-align: center;
    width : 100%;
}

#heading {
    border: 2px solid #2c3e50;
    background-color: rgb(178, 139, 67);
    color: rgb(227, 18, 18);
    text-align: center;
    padding: 15px;
    position: relative;
    border-radius: 15px;
}

h1 {
    font-size: 55px;
    font-family: 'Impact', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    margin: 0;
    background: linear-gradient(90deg, #ffffff, #f7bf09);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}

#heading::before {
    content: "";
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    height: 5px;
    background: linear-gradient(to right, #ff9800, #ff5722, #ff9800);
    border-radius: 5px;
}
